@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent: #bc4b27;

  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
}

a {
  color: var(--accent);
  opacity: 0.8;
}
a:is(:hover, :focus-visible) {
  opacity: 1;
}